## Nature of Strings in Python

Strings in Python are **immutable**.

In [45]:
word = 'by'
print(len(word))

empty = ''
print(len(empty))

i_am = 'I\'m'
print(len(i_am))

tricky="""
"""
print(len(tricky))

2
0
3
1

The missing character is simply invisible - it's a **whitespace**. It's located between the two text lines.

In [3]:
multiline = '''Line #1
Line #2'''

#Line #1 = 7char
#Line #2 = 7char

#Total=14 ?
print(len(multiline))

15

### Operations on Strings

#### Concatenation (+)

In [4]:
str1 = 'a'
str2 = 'b'
print(str1 + str2)
print(str2 + str1)

ab
ba

#### Replication (\*) (Its is not multiplication)

**Operator Overloading:** The ability to use the same operator against completely different kinds of data (like numbers vs. strings) is called overloading

In [5]:
print(5 * 'a')
print('b' * 4)

aaaaa
bbbb

#### Ordinal ord()

If you want to know a specific character's ASCII/UNICODE code point value, you can use a function named ord() (as in ordinal).
<br>
The function needs a `one-character string as its argument` - **breaching this requirement causes a TypeError exception, and returns a number representing the argument's code point.**

In [12]:
char_1 = 'a'
char_2 = 'à¤…'  
char_3 = ' '  # space


print(ord(char_1))
print(ord(char_2))
print(ord(char_3))

97
2309
32

#### Character chr()

If you know the code point (number) and want to get the corresponding character, you can use a function named chr()
<br>
The function takes a `code point and returns its character`. - **Invoking it with an invalid argument (e.g., a negative or invalid code point) causes ValueError or TypeError exceptions.**

In [1]:
print(chr(97))
print(chr(2310))
print(chr(1310))

ValueError: chr() arg not in range(0x110000)

In [48]:
# chr(ord(character)) == character # True
# ord(chr(codepoint)) == codepoint # True

x='a'
chr(ord(x)) == x
y=987
ord(chr(y)) == y

for ch in "abc":
    print(chr(ord(ch) + 1), end='')

bcd

### Strings as Sequences
<br>

**Python strings are sequences and are immutable**
<br>

`del`, `insert()` and `append()` will not work.

#### Indexing

**Python strings are sequences**. It's time to show you what that actually means.

**Strings aren't lists**, but you can treat them like lists in many particular cases.

In [27]:
# Indexing strings.

the_string = 'akshay dandgaval'

for ix in range(len(the_string)):
    print(the_string[ix], end=' ')

print()

a k s h a y   d a n d g a v a l

#### Slicing

In [4]:
#alpha = "abdefg"
alpha= "012345"

print(alpha[1:3])
print(alpha[3:])
print(alpha[:3])
print(alpha[3:-2])
print(alpha[-3:4])
print(alpha[::2])
print(alpha[1::2])

12
345
012
3
3
024
135

#### in and not in operators

In [25]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

print("f" in alphabet)
print("F" in alphabet)
print("1" in alphabet)
print("ghi" in alphabet)
print("Xyz" in alphabet)

True
False
False
True
False

In [26]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

print("f" not in alphabet)
print("F" not in alphabet)
print("1" not in alphabet)
print("ghi" not in alphabet)
print("Xyz" not in alphabet)

False
True
True
False
True

#### min() and max()

Finds the minimum element of the sequence passed as an argument. 

* There is one condition - the sequence (string, list, it doesn't matter) cat be empty
* Or else you'll get a `ValueError` exception.
* For a string it looks at the min() value of the ASCII number

In [6]:
print(min("aAbByYzZ"))
print(min("The Knights ")) ## Space
print(min([0,1,2,468]))

A

0

In [31]:
print(max("aAbByYzZ"))
print(max("The Knights "))
print(max([0,1,2,468]))

z
t
468

#### list()

It takes its argument (a string) and creates a new list containing all the string's characters, one per list element.

*  Its able to create a new list from many other entities (e.g., from tuples and dictionaries)

In [52]:
print(list("abcabc"))
print(list("Akshay DANDGAVAL"))
print(list("135689063706896"))
# print(list((1,),(2,)))

['a', 'b', 'c', 'a', 'b', 'c']
['A', 'k', 's', 'h', 'a', 'y', ' ', 'D', 'A', 'N', 'D', 'G', 'A', 'V', 'A', 'L']
['1', '3', '5', '6', '8', '9', '0', '6', '3', '7', '0', '6', '8', '9', '6']